.bg-0 {
    background: #cbd1ff !important;
    color: #000;
    font-weight: bold;
}
.bg-1 {
    background: #c7f9df !important;
    color: #000;
    font-weight: bold;
}
.bg-2 {
    background: #ffe4c1 !important;
    color: #000;
    font-weight: bold;
}
.bg-3 {
    background: #abdeff !important;
    color: #000;
    font-weight: bold;
}
.bg-4 {
    background: #ffcccc !important;
    color: #000;
    font-weight: bold;
}